<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.contentsalesystem.dao.AccountItemMapper">
  <resultMap id="BaseResultMap" type="com.netease.contentsalesystem.entity.AccountItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="product_abstract" jdbcType="VARCHAR" property="productAbstract" />
    <result column="trans_time" jdbcType="TIMESTAMP" property="transTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, product_id, product_name, description, price, count, total_amount, img_url, product_abstract, trans_time
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="list" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from account_item
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="listPrices" resultType="java.math.BigDecimal">
    select price from account_item
    where user_id = #{userId} and product_id = #{productId}
  </select>
  <select id="findByUserIdAndProductId" resultType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from account_item
    where user_id = #{userId,jdbcType=INTEGER}
    and product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from account_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.netease.contentsalesystem.entity.AccountItem">
    insert into account_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="productAbstract != null">
        product_abstract,
      </if>
      <if test="transTime != null">
        trans_time
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="productAbstract != null">
        #{productAbstract,jdbcType=VARCHAR},
      </if>
      <if test="transTime != null">
        #{transTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </insert>
  <insert id="batchInsert" parameterType="list">
    <!-- TODO: rewrite -->
    insert into account_item (
    user_id, product_id, product_name, description, price, count, total_amount, img_url, product_abstract, trans_time
    )
    values
    <foreach collection="accountItems" index="index" item="item" separator="," >
      (
      #{item.userId,jdbcType=INTEGER},
      #{item.productId,jdbcType=INTEGER},
      #{item.productName,jdbcType=VARCHAR},
      #{item.description,jdbcType=VARCHAR},
      #{item.price,jdbcType=DECIMAL},
      #{item.count,jdbcType=INTEGER},
      #{item.totalAmount,jdbcType=DECIMAL},
      #{item.imgUrl,jdbcType=VARCHAR},
      #{item.productAbstract,jdbcType=VARCHAR},
      #{item.transTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
  <update id="update" parameterType="com.netease.contentsalesystem.entity.AccountItem">
    update account_item
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="productAbstract != null">
        img_url = #{productAbstract,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByUserAndProductId" parameterType="com.netease.contentsalesystem.entity.AccountItem">
    update account_item
    <set>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>